@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Cadastra-se</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>  <div class="form-floating">
                <input asp-for="Input.Nome" class="form-control" autocomplete="nome" aria-required="true" />
                <label asp-for="Input.Nome"></label>
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>  <div class="form-floating">
                <input asp-for="Input.Celular" class="form-control" autocomplete="celular" aria-required="true" />
                <label asp-for="Input.Celular"></label>
                <span asp-validation-for="Input.Celular" class="text-danger"></span>
            </div>  <div class="form-floating">
                <input asp-for="Input.CEP" class="form-control" autocomplete="cep" aria-required="true" />
                <label asp-for="Input.CEP"></label>
                <span asp-validation-for="Input.CEP" class="text-danger"></span>
            </div>  <div class="form-floating">
                <input asp-for="Input.CPF" class="form-control" autocomplete="cpf" aria-required="true" />
                <label asp-for="Input.CPF"></label>
                <span asp-validation-for="Input.CPF" class="text-danger"></span>
            </div>  <div class="form-floating">
                <input asp-for="Input.Telefone" class="form-control" autocomplete="telefone" aria-required="true" />
                <label asp-for="Input.Telefone"></label>
                <span asp-validation-for="Input.Telefone" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Endereco" class="form-control" autocomplete="endereco" aria-required="true" />
                <label asp-for="Input.Endereco"></label>
                <span asp-validation-for="Input.Endereco" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Complemento" class="form-control" autocomplete="complemento" aria-required="true" />
                <label asp-for="Input.Complemento"></label>
                <span asp-validation-for="Input.Complemento" class="text-danger"></span>
            </div>  
            <div class="form-floating">
                <input asp-for="Input.Idade" class="form-control" autocomplete="idade" aria-required="true" />
                <label asp-for="Input.Idade"></label>
                <span asp-validation-for="Input.Idade" class="text-danger"></span>
           </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Complete os seus dados</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                           Cadastra-se na loja virtual para encontrar todos os produtos que precisa
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Utilize seu email para entrar @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
